# Server configuration
NODE_ENV=development
HOST=localhost
PORT=3000

# Database configuration (also used by node-pg-migrate)
PGHOST=localhost
PGPORT=5432
PGUSER=
PGPASSWORD=
PGDATABASE=

# JWT secret — generate with: openssl rand -hex 32
ACCESS_TOKEN_KEY=
REFRESH_TOKEN_KEY=
ACCESS_TOKEN_AGE=3h
